.input-container{
    display: flex;
    justify-content: center;

    padding: 16px;
    max-width: 90vw;
}

.page-container{
    height: 100vh;
    overflow-y: scroll;
}

.user-controls{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}